:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

.main{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 90vh;
}


/* Game.css */
.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-top: 50px;
  height: 30vh;
}

.game-info {
  margin-left: 20px;
}

.board-row {
  display: flex;
}

.square {
  background-color: #ffffff;
  border: 2px solid #61dafb;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 50px;
  width: 50px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0px;
}


.status {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

button {
  background-color: #61dafb;
  border: none;
  color: rgb(0, 0, 0);
  padding: 5px 10px;
  margin: 5px 0;
  cursor: pointer;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

ol {
  padding-left: 30px;
}

ol li {
  margin-bottom: 5px;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
